body {
    font-family: 'IM Fell DW Pica', serif;
    background-color: #ede6d6;
    color: #4a5a24;
    margin: 0;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.25rem;
}

h1 {
    font-family: 'Imbue', serif;
    margin-bottom: 0.4rem;
}
