* {
    font-family: "Archivo Narrow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(60, 255, 112, 0.532);
    background-image: url("../img/mainbanner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 150px 0 190px 0;
}

div.column {
    width: 960px;
    margin: auto;
}

h1 {
    font-size: 80px;
    color: white;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    color: white;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 32px;
}

h4 {
    font-size: 20px;
    margin-bottom: 7px;
}

h5 {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 720px;
    margin: 0 auto;
}


section {
    padding: 35px 0 40px 0;
}

section.intro {
    background-color: rgb(224, 173, 137);
    color: white;
}

section.photo-grid {
    background-color: rgb(255, 255, 255);
    padding: 39px 0 40px 0;
}

section.outro {
    padding: 40px 0 100px 0;
    background-color: rgb(255, 185, 243);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

li {
    display: flex;
    gap: 12px;
    width: 430px;
    margin-bottom: 23px;
}

.float {
    float: right;
    border: 1px solid rgb(176, 206, 255);
    margin-left: 40px;
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
}

li img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

footer {
    padding: 40px 0;
    background: rgb(255, 245, 139);
}